<!DOCTYPE html>
<html>
    <head>
        <title>My BMW</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <meta charset="utf-8">

        <!-- Bootstrap -->
        <link href="static/css/bootstrap.min.css" rel="stylesheet" media="screen">
        <link href="static/css/bootstrap-responsive.css" rel="stylesheet">
        {% block head %}{% endblock %}
   </head>
    <body>
        <div class="navbar navbar-static-top">
            <div class="navbar-inner">
                <a class="brand" href="#">My BMW</a>
                <ul class="nav nav-tabs">
				{% if name == "one" %}
				<li class="active">
				{% else %}
				<li>
				{% endif %}
                    <a href="dashboard">Dashboard</a></li>

				{% if name == "two" %}
				<li class="active">
				{% else %}
				<li>
				{% endif %}
                    <a href="sample">Stupidity</a></li>

				{% if name == "three" %}
				<li class="active">
				{% else %}
				<li>
				{% endif %}
                    <a href="#">Three</a></li>

				{% if name == "four" %}
				<li class="active">
				{% else %}
				<li>
				{% endif %}
                    <a href="#">Four</a></li>
			 </ul>
                <ul class="nav pull-right">
                  <li class="dropdown">
                    <a href="#"
                      class="dropdown-toggle"
                      data-toggle="dropdown">
                      Mein BMW
                      <b class="caret"></b>
                    </a>
                  <ul class="dropdown-menu">
                    <li><a href="#">Web Design</a></li>
                    <li><a href="#">My Car</a></li>
                    <li><a href="#">Catmobile</a></li>
                   </ul>
                  </li>
                </ul>
            </div>
        </div>

        <div class="container">
            {% block container %} {% endblock %}
       </div>

        <script src="http://code.jquery.com/jquery.js"></script>
        <script src="static/js/bootstrap.min.js"></script>
        {% block script_includes %} {% endblock %}
    </body>
</html>
