<div class="row-fluid">
	<div class="span4">
    <div class="accordion" id="accordion1">
        <div class="accordion-group">
            <div class="accordion-heading">
                <a id="mileage-toggle" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#cOne">
                	Odometer
                </a>
            </div>
            <div id="cOne" class="accordion-body collapse in">
                <div class="accordion-inner">
                    <div style="float: left">
                        <h4 style="margin-top: 0px;">Commute Summary</h4>
                        <strong>Start:</strong> 1 Bayside Village Place, San Francisco, CA<br />
                        <strong>End: </strong>Stanford University<br />
                        <strong>Time: </strong>45 minutes<br />
                        <strong>Average Speed: </strong>67 mph<br />
                        <strong>Average MPG: </strong>25 mpg</br />
                    </div>
                    <div style="float: right; padding-bottom: 7px;">
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion-group">
            <div class="accordion-heading">
                <a id="oillife-toggle" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#cTwo">
                    Oil Status
                </a>
            </div>
            <div id="cTwo" class="accordion-body collapse">
                <div class="accordion-inner">
                    <div style="float: left">
                        <h4 style="margin-top: 0px;">Commute Summary</h4>
                        <strong>Start:</strong> 1 Bayside Village Place, San Francisco, CA<br />
                        <strong>End: </strong>Stanford University<br />
                        <strong>Time: </strong>45 minutes<br />
                        <strong>Average Speed: </strong>67 mph<br />
                        <strong>Average MPG: </strong>25 mpg</br />
                    </div>
                    <div style="float: right; padding-bottom: 7px;">
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle" id="fuel-toggle" data-toggle="collapse" data-parent="#accordion1" href="#cThree">
                    Battery Status
                </a>
            </div>
            <div id="cThree" class="accordion-body collapse">
                <div class="accordion-inner">
                    <div style="float: left">
                        <h4 style="margin-top: 0px;">Commute Summary</h4>
                        <strong>Start:</strong> 1 Bayside Village Place, San Francisco, CA<br />
                        <strong>End: </strong>Stanford University<br />
                        <strong>Time: </strong>45 minutes<br />
                        <strong>Average Speed: </strong>67 mph<br />
                        <strong>Average MPG: </strong>25 mpg</br />
                    </div>
                    <div style="float: right; padding-bottom: 7px;">
                    </div>
	                </div>
				</div>
			</div>
		</div>
	</div>
	<div class="span8">
		<div class="thumbnail" id="right-pane">
            {% include 'carhealthrightpane.html' %}
		</div>
	</div>
<!--
	<div class="span4">
	  <h3 align="center">At a Glance</h3>
	  <table class="table table-striped">  
	   <tbody>  
		<tr class="error">
		  <td><b>Oil Life</b></td>  
		  <td>2% </td>  
		  <td><b>REFILL NOW</b></td>  
		</tr>  
		<tr>
		  <td><b>Mileage</b></td>  
		  <td>40,000</td>  
		  <td>Young One</td>  
		</tr>  
		<tr>
		  <td><b>Wiper Fluid</b></td>  
		  <td>90%</td>  
		  <td>Full</td>  
		</tr>  
		<tr>
			<div id="smallchart">
				<svg style="height:100px; min-width: 100px; min-height: 100px"></svg>
			</div>
		</tr>
	   </tbody>  
	 </table>  
	</div>
	-->
</div>