<div id="mileage-pane">
	<h2 style="text-align: center">Mileage Log</h2>
	<div id="mileage-chart">
		<svg style="height: 400px; min-width: 100px; min-height: 100px"></svg>
	</div>
</div>

<div id="oillife-pane" style="display: none">
		<h2 style="text-align: center">Oil Amount Log</h2>
		<div id="oillife-chart">
			<svg style="height: 400px; min-width: 100px; min-height: 100px"></svg>
		</div>
</div>

<div id="fuel-pane" style="display: none">
	<h2 style="text-align: center">Oil Amount Log</h2>
	<div id="fuel-chart">
		<svg style="height: 400px; min-width: 100px; min-height: 100px"></svg>
	</div>
</div>
