<div class="row-fluid">
    <div id="chart3">
        <svg style="height: 400px; min-width: 100px; min-height: 100px"></svg>
    </div>
    <h3>Your Past Commutes</h3>
    <div class="accordion" id="commute-tab-accordion">
        {% set commute_count = 0 %}
        {% for commute in commutes %}
        {% set commute_tab_id = "commute-listing-%d" % commute_count %}
        <div class="accordion-group">
            <div class="accordion-heading">
                <div class="accordion-toggle">
                    <a href="#{{ commute_tab_id }}" data-toggle="collapse" data-parent-"#commute-tab-accordion"> 
                        Commute on {{ commute.timestamp.strftime('%B %d, %Y') }}
                    </a>
                    <a style="float:right">Export Commute Log</a>
                </div>
            </div>
            <div id="{{ commute_tab_id }}" class="accordion-body collapse {{ 'in' if commute == commutes[0] else '' }}">
                <div class="accordion-inner">
                    <div class="commute-box-field">
                       <div class="commute-box-number">{{ commute.duration }}</div>
                        <div class="commute-box-label" class="commute-box-label">minutes</div>
                    </div>
                    <div class="commute-box-field">
                       <div class="commute-box-number">{{ commute.ave_speed }}</div>
                        <div class="commute-box-label" class="commute-box-label">mph</div>
                    </div>
                    <div class="commute-box-field">
                       <div class="commute-box-number">{{ commute.ave_mpg }}</div>
                        <div class="commute-box-label" class="commute-box-label">mpg</div>
                    </div>
                    <div class="commute-box-field">
                       <div class="commute-box-number">{{ commute.tank_used }}</div>
                        <div class="commute-box-label" class="commute-box-label">gallons used</div>
                    </div>
                    <div style="float: right; padding-bottom: 7px;">
                        <img width="300" height="150" src="static/img/google_map.png" />
                    </div>
                </div>
            </div>
        </div>
        {% set commute_count = commute_count + 1 %}
        {% endfor %}
    </div>
</div>
