    <h3 align="center">Commute Selector Graph</h3>
    <div class="row">
        <div class="span1" align="right">
            <h4 id="ylabel" style="float:right">MPG</h4>
        </div>
        <div class="span11">
            <div id="chart3">
                <svg style="height: 400px; min-width: 100px; min-height: 100px"></svg>
            </div>
        </div>
    </div>
    <h4 id="xlabel" align="right" style="margin-top: 0px">Average MPH</h4>
    <div class="row" align="center">
    <div class="span6" align="right">
            <h4>X-Axis</h4>
		  <select id="xaxis">
	         <option>Cumulative MPG</option>
	         <option>Average MPH</option>
	         <option>Total Gas Use</option>
	         <option>Total Time</option>
	         <option>Date</option>
	       </select>
    </div>
    <div class="span6" align="left">
            <h4>Y-Axis</h4>
		  <select id="yaxis">
	         <option>Cumulative MPG</option>
	         <option>Average MPH</option>
	         <option>Total Gas Use</option>
	         <option>Total Time</option>
	         <option>Date</option>
	       </select>
     </div>
     </div>
    <h3>Your Past Commutes</h3>
<div class="accordion" id="commute-tab-accordion">
    {% set commute_count = 0 %}
    {% for commute in commutes %}
    {% set commute_tab_id = "commute-listing-%d" % commute_count %}
    <div class="accordion-group">
        <div class="accordion-heading">
            <div class="accordion-toggle">
                <a href="#{{ commute_tab_id }}" data-toggle="collapse" data-parent-"#commute-tab-accordion"> 
                    Commute on {{ commute.timestamp.strftime('%B %d, %Y') }}
                </a>
                <a id="export" style="float:right">Export Commute Log</a>
            </div>
        </div>
        <div id="{{ commute_tab_id }}" class="accordion-body collapse {{ 'in' if commute == commutes[0] else '' }}">
            <div class="accordion-inner">
                <div class="row-fluid">
                    <div class="span2 commute-box-field">
                        <div class="commute-box-number">{{ commute.duration|int }}</div>
                        <div class="commute-box-label">minutes</div>
                    </div>
                    <div class="span2 commute-box-field">
                        <div class="commute-box-number">{{ commute.ave_speed|int }}</div>
                        <div class="commute-box-label">mph</div>
                    </div>
                    <div class="span2 commute-box-field">
                        <div class="commute-box-number">{{ commute.ave_mpg|int }}</div>
                        <div class="commute-box-label">mpg</div>
                    </div>
                    <div class="span2 commute-box-field">
                        <div class="commute-box-number">{{ commute.tank_used|int }}</div>
                        <div class="commute-box-label">gallons used</div>
                    </div>
                    <div class="span4 commute-box-field">
                        <img src="{{ url_for('static', filename='img/google_map.png') }}" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% set commute_count = commute_count + 1 %}
    {% endfor %}
</div>
