{% extends "pd_base.html" %}
{% block head %}
    <link href="{{ url_for('static', filename='css/nv.d3.css') }}" rel="stylesheet" type="text/css" media="screen">
 
    <script type="text/javascript">
        var dashboard_data = {
            car_data:  {{ car_data|tojson|safe }},
            tank_level: {{ tank_level }},
            fuel_range: {{ fuel_range }}
        }
    </script>
{% endblock %}

{% block container %}
<br />
<div class="span12">
	<div class="alert alert-info">
		<a class="close" data-dismiss="alert" href="#">&times;</a>
			<h1>Fill up soon, Steve!</h1> <h3>You have 65 miles left on your tank. Cheapest Premium nearby is at the <a href="#">Willow</a> Station.</h3>
	</div>
</div>
<br />
<div class="row collapse in" id="dashhud">
	<div class="span3">
		<div id="donut2">
		</div>
	</div>
	<div class="span3">
		<div id="text0">
		</div>
	</div>
	<div class="span3">
		<div id="donut">
		</div>
	</div>
	<div class="span3">
		<div id="donut3">
		</div>
	</div>
</div>
<a class="close" data-toggle="collapse" data-target="#dashhud" href="#" style="float: right">show/hide HUD</a>
<ul class="nav nav-tabs" id="dashtab">
	<li class="active"><a href="#carhealth" data-toggle="tab">Car Health</a></li>
	<li><a id="commuteTog" href="#commute" data-toggle="tab">Drive Logs</a></li>
	<li><a href="#carhealth" data-toggle="tab">Services</a></li>
	<li><a href="#location" data-toggle="tab">Location</a></li>
</ul>
<div class="tab-content">
	<div class="tab-pane active" id="carhealth">
		{% include 'carhealthtab.html' %}
	</div>
	<div class="tab-pane" id="commute">
        {%include 'commutetab.html' %}
	</div>
	<div class="tab-pane" id="carhealth">
	</div>
	<div class="tab-pane" id="location"></div>
</div>
{% endblock %}

{% block script_includes %}
    <script src="{{ url_for('static', filename='js/d3.v3.js') }}"></script>
    <script src="{{ url_for('static', filename='js/nv.d3.js') }}"></script>
    <script src="{{ url_for('static', filename='js/colorbrewer.js') }}"></script>
    <script src="{{ url_for('static', filename='js/chart.js') }}"></script>
    <script src="{{ url_for('static', filename='js/dashboard.js') }}"></script>
{% endblock %}
