{% extends "base.html" %}
{% block head %}
    <link href="static/css/nv.d3.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript">
        var dashboard_data = {
            car_data:  {{ car_data|tojson|safe }},
            tank_level: {{ tank_level }},
            fuel_range: {{ fuel_range }}
        }
    </script>
{% endblock %}

{% block container %}
<br />
<div class="span12">
	<div class="alert alert-info">
		<a class="close" data-dismiss="alert" href="#">&times;</a>
			<h1>Greetings Genius.</h1> <h3>We want you. Also, your car is probably broken. Consider fixing it.</h3>
	</div>
</div>
<br />
<ul class="nav nav-tabs" id="dashtab">
	<li class="active"><a href="#overview" data-toggle="tab">Overview</a></li>
	<li><a href="#commute" data-toggle="tab">Commute</a></li>
	<li><a href="#carhealth" data-toggle="tab">Car Health</a></li>
	<li><a href="#location" data-toggle="tab">Location</a></li>
</ul>
<div class="tab-content">
	<div class="tab-pane active" id="overview">
		<div class="row">
			<div class="span2">
				<div id="donut">
					<svg style="width: 300px; height: 300px; min-width: 100px; min-height: 100px"></svg>
				</div>
			</div>
			<div class="span1"></div>
			<div class="span2">
				<div id="donut2">
					<svg style="width: 300px; height: 300px; min-width: 100px; min-height: 100px"></svg>
				</div>
			</div>
			<div class="span1"></div>
			<div class="span2">
				<div id="text0">
					<svg style="width: 300px; height: 300px; min-width: 100px; min-height: 100px"></svg>
				</div>
			</div>
			<div class="span1"></div>
			<div class="span2">
				<div id="donut3">
					<svg style="width: 300px; height: 300px; min-width: 100px; min-height: 100px"></svg>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="span8">
				<div class="thumbnail">
					<h2 style="text-align: center">Mileage Log</h2>
					<div id="chart">
						<svg style="height: 400px; min-width: 100px; min-height: 100px"></svg>
					</div>
				</div>
			</div>
			<div class="span4">
			  <h3 align="center">At a Glance</h3>
			  <table class="table table-striped">  
			   <tbody>  
				<tr class="error">
				  <td><b>Oil Life</b></td>  
				  <td>2% </td>  
				  <td><b>REFILL NOW</b></td>  
				</tr>  
				<tr>
				  <td><b>Mileage</b></td>  
				  <td>40,000</td>  
				  <td>Young One</td>  
				</tr>  
				<tr>
				  <td><b>Wiper Fluid</b></td>  
				  <td>90%</td>  
				  <td>Full</td>  
				</tr>  
				<tr>
					<div id="smallchart">
						<svg style="height:100px; min-width: 100px; min-height: 100px"></svg>
					</div>
				</tr>
			   </tbody>  
			 </table>  
			</div>
		</div>
	</div>
	<div class="tab-pane" id="commute">
		<div class="row-fluid">
<!--
			<div class="span8">
				<div id="chart2">
					<svg style="width: 800px; height: 400px; min-width: 400px; min-height: 400px"></svg>
				</div>
			</div>
			<div class="span2">
				<div id="donut4">
					<svg style="width: 300px; height: 300px; min-width: 100px; min-height: 100px">
						<g transform="scale(.65)">
							<svg style="width: 300px; height: 300px; min-width: 100px; min-height: 100px"></svg>
						</g >
					</svg >
				</div>
			</div>
			<div class="span2">
				<div id="donut5">
					<svg style="width: 300px; height: 300px; min-width: 100px; min-height: 100px">
						<g transform="scale(.65)">
							<svg style="width: 300px; height: 300px; min-width: 100px; min-height: 100px"></svg>
						</g >
					</svg >
				</div>
			</div>
		</div>
	</div>
 -- >
            <h3>Your Past Commutes</h3>
            <div class="accordion" id="accordion2">
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                            Commute on 3/12/13
                        </a>
                    </div>
                    <div id="collapseOne" class="accordion-body collapse in">
                        <div class="accordion-inner">

                            <div style="float: left">
                                <h4 style="margin-top: 0px;">Commute Summary</h4>
                                <strong>Start:</strong> 1 Bayside Village Place, San Francisco, CA<br />
                                <strong>End: </strong>Stanford University<br />
                                <strong>Time: </strong>45 minutes<br />
                                <strong>Average Speed: </strong>67 mph<br />
                                <strong>Average MPG: </strong>25 mpg</br />
                            </div>
                            <div style="float: right; padding-bottom: 7px;">
                                <iframe width="300" height="200" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=d&amp;source=s_d&amp;saddr=Bayside+Village+South+Beach+SFO,+Bayside+Village+South+Beach+SFO,+3+Bayside+Village+Pl,+San+Francisco,+CA+94107&amp;daddr=549+lasuen+mall,+stanford,+CA&amp;hl=en&amp;geocode=FTGNQAIdJnu0-CmXFFBXd4CFgDHmigY1_083JQ%3BFb0HOwId79m3-CnDtp9V0bqPgDET2Kq91Y6oVA&amp;sll=37.60444,-122.279205&amp;sspn=0.669101,1.454315&amp;t=m&amp;mra=pd&amp;ie=UTF8&amp;ll=37.640335,-122.283325&amp;spn=0.434981,0.552063&amp;z=9&amp;output=embed"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                            Commute on 3/11/13
                        </a>
                    </div>
                    <div id="collapseTwo" class="accordion-body collapse">
                        <div class="accordion-inner">
                            <div style="float: left">
                                <h4 style="margin-top: 0px;">Commute Summary</h4>
                                <strong>Start:</strong> 1 Bayside Village Place, San Francisco, CA<br />
                                <strong>End: </strong>Stanford University<br />
                                <strong>Time: </strong>45 minutes<br />
                                <strong>Average Speed: </strong>67 mph<br />
                                <strong>Average MPG: </strong>25 mpg</br />
                            </div>
                            <div style="float: right; padding-bottom: 7px;">
                                <iframe width="300" height="200" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=d&amp;source=s_d&amp;saddr=Bayside+Village+South+Beach+SFO,+Bayside+Village+South+Beach+SFO,+3+Bayside+Village+Pl,+San+Francisco,+CA+94107&amp;daddr=549+lasuen+mall,+stanford,+CA&amp;hl=en&amp;geocode=FTGNQAIdJnu0-CmXFFBXd4CFgDHmigY1_083JQ%3BFb0HOwId79m3-CnDtp9V0bqPgDET2Kq91Y6oVA&amp;sll=37.60444,-122.279205&amp;sspn=0.669101,1.454315&amp;t=m&amp;mra=pd&amp;ie=UTF8&amp;ll=37.640335,-122.283325&amp;spn=0.434981,0.552063&amp;z=9&amp;output=embed"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
                            Commute on 3/10/13
                        </a>
                    </div>
                    <div id="collapseThree" class="accordion-body collapse">
                        <div class="accordion-inner">
                            <div style="float: left">
                                <h4 style="margin-top: 0px;">Commute Summary</h4>
                                <strong>Start:</strong> 1 Bayside Village Place, San Francisco, CA<br />
                                <strong>End: </strong>Stanford University<br />
                                <strong>Time: </strong>45 minutes<br />
                                <strong>Average Speed: </strong>67 mph<br />
                                <strong>Average MPG: </strong>25 mpg</br />
                            </div>
                            <div style="float: right; padding-bottom: 7px;">
                                <iframe width="300" height="200" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=d&amp;source=s_d&amp;saddr=Bayside+Village+South+Beach+SFO,+Bayside+Village+South+Beach+SFO,+3+Bayside+Village+Pl,+San+Francisco,+CA+94107&amp;daddr=549+lasuen+mall,+stanford,+CA&amp;hl=en&amp;geocode=FTGNQAIdJnu0-CmXFFBXd4CFgDHmigY1_083JQ%3BFb0HOwId79m3-CnDtp9V0bqPgDET2Kq91Y6oVA&amp;sll=37.60444,-122.279205&amp;sspn=0.669101,1.454315&amp;t=m&amp;mra=pd&amp;ie=UTF8&amp;ll=37.640335,-122.283325&amp;spn=0.434981,0.552063&amp;z=9&amp;output=embed"></iframe>
                            </div>
 
 
                </div>
	
		    </div>
        </div>
	<div class="tab-pane" id="carhealth">
	</div>
	<div class="tab-pane" id="location"></div>
</div>
{% endblock %}

{% block script_includes %}
    <script src="static/js/d3.v3.js" type="text/javascript"></script>
    <script src="static/js/nv.d3.js" type="text/javascript"></script>
    <script src="static/js/colorbrewer.js" type="text/javascript"></script>
    <script src="static/js/chart.js" type="text/javascript"></script>
{% endblock %}
 
