<!DOCTYPE html>
<html>
    <head>
	    <meta charset="utf-8">
	    <title>Personalized Drive | App</title>
	    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	    <meta name="format-detection" content="telephone=no" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	    <meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black" />
	    <link rel="stylesheet" type="text/css" href="css/lib/jquery.mobile-1.3.1.min.css">
	    <link rel="stylesheet" type="text/css" href="css/style.css">
	    <style>
			#nextCommute {
				text-align:center;
				position: relative;
				border-radius: 5px;
				border-style:solid;
				border-color: rgb(196, 196, 196);
				border-width: 1px;
				margin: 10px auto 0 auto;
				padding-top: 0px;
				width: 300px;
				padding-bottom: 10px;
			}
			
			.commute-box-number {
				font-size: 12px;
				font-weight: bold;
				color: rgb(49, 130, 189);
				margin-top: 5px;
				text-align: left;
			}

			.commute-box-label {
				font-size: 20px;
				font-weight: bold;
				color: rgb(169, 169, 169);
				margin-top: 0px;
				text-align: center;
				line-height: 30px;
			}
			.commute-box {
			
				padding-top: 20px;
				margin-bottom: 20px;
			}

			a:hover{text-decoration:none;}
			a {-webkit-touch-callout: none;}
			body {
				-webkit-tap-highlight-color:rgba(0,0,0,0);
				-webkit-user-select: none;
			}
            .scrollable {
                height:100%;
                overflow-x:hidden;
                overflow-y:scroll;
                -webkit-overflow-scrolling: touch;
            }
		</style>
		<script type="text/javascript">
		    (function(c,a){window.mixpanel=a;var b,d,h,e;b=c.createElement("script");
		    b.type="text/javascript";b.async=!0;b.src=("https:"===c.location.protocol?"https:":"http:")+
		    '//cdn.mxpnl.com/libs/mixpanel-2.2.min.js';d=c.getElementsByTagName("script")[0];
		    d.parentNode.insertBefore(b,d);a._i=[];a.init=function(b,c,f){function d(a,b){
		    var c=b.split(".");2==c.length&&(a=a[c[0]],b=c[1]);a[b]=function(){a.push([b].concat(
		    Array.prototype.slice.call(arguments,0)))}}var g=a;"undefined"!==typeof f?g=a[f]=[]:
		    f="mixpanel";g.people=g.people||[];h=['disable','track','track_pageview','track_links',
		    'track_forms','register','register_once','unregister','identify','alias','name_tag','set_config',
		    'people.set','people.set_once','people.increment','people.track_charge','people.append'];
		    for(e=0;e<h.length;e++)d(g,h[e]);a._i.push([b,c,f])};a.__SV=1.2;})(document,window.mixpanel||[]);
		    mixpanel.init("f43921742f2cfaf7b57b9b044ac793a3");
		</script>
	</head>

	<body>

	<!-- The Templates -->
    <script type="text/template" id="DriveHistoryTemplate">
	    <div data-position="fixed" data-id="drei-topnave" data-role="header">
	        <h1>Driving History</h1>
	    </div>

	    <div id="container" class="scrollable">
			<ul id="drive-history-entries" data-role="listview" data-divider-theme="d" class="ui-listview">
				<li data-role="list-divider" role="heading" >
					Summary
				</li>
			</ul>
	   	</div>

   		<div id="nav-bottom" data-role="footer" data-position="fixed" data-id="drei-navbar" data-tap-toggle="false">	
        	<div data-role="navbar">
    		    <ul>
                	<li id="nav-drivehistory">
                		<a href="#drivehistory" data-role="button" class="ui-btn-active ui-state-persist">
                			Drive History
                		</a>
                	</li>
                	<li id="nav-track">
                		<a href="#track" data-role="button">
                			Track
                		</a>
                	</li>
                	<li id="nav-settings">
                		<a href="#settings" data-role="button">
                			Settings
                		</a>
                	</li>
    		    </ul>
        	</div>
	    </div>
	</script>

	<script type="text/template" id="TrackTemplate">
	    <div data-position="fixed" data-id="drei-topnave" data-role="header">
	        <h1>Track a Drive</h1>
	    </div>

	    <div id="container" style="margin: 10px; text-align:center;" class="scrollable">
            <h3>Track Your Drives!</h3>
            <div id="track-drive-message">
                <p>
                    Start tracking your drives to learn what your true MPG is, how long you're spending on your commute, and how fast you're driving.
                </p>
            </div>
            <div style="height: 20px"></div>
            <div id="status"></div>
            <div class="onboarding-info">
                <div>
                <button class="start-tracking-button" data-theme="b">Start Tracking Commute</button>
                <!--
				<a href="#setup/1" data-role="button" data-icon="gear" data-role="footer">
                    Having problems connecting?
                </a>
                -->
                </div>
            </div>
        </div>
        
        <div id="nav-bottom" data-role="footer" data-position="fixed" data-id="drei-navbar" data-tap-toggle="false">
	        <div data-role="navbar">
                <ul>
	                <li id="nav-drivehistory">
                        <a href="#drivehistory" data-role="button">
                            Drive History
                        </a>
                    </li>
	                <li id="nav-track">
                        <a href="#track" class="ui-btn-active ui-state-persist" data-role="button">
                            Track
                        </a>
                    </li>
	                <li id="nav-settings">
                        <a href="#settings" data-role="button">
                            Settings
                        </a>
                    </li>
                </ul>
	        </div><!-- /navbar --> 
	    </div>
        
	</script>

	<script type="text/template" id="SettingsTemplate">
		    <div data-position="fixed" data-id="drei-topnave" data-role="header">
		        <h1>Settings</h1>
		    </div>

		    <div id="container" class="settings-page" >
		    	<div class="about-app"> 
					<h3>About Personalized Drive</h3>
					Personalized Drive is an app that helps you log your driving patterns so that you can better understand your commutes.
				</div>
			    <div>
			        <textarea class="feedback-text">Leave us feedback! Things we can improve, features you want to see, or things you like.</textarea>
			       	<button class="submit-feedback" data-theme="b">Submit Feedback</button>
				</div>
		    	<div>
		    		<button class="logout" data-theme="e">Logout</button>
				</div>
                <div>
                    For support, questions, or inquiries, email <a href="mailto:info@personalizeddrive.com">info@personalizeddrive.com</a>
                </div>
		   	</div>
		   	    	<div id="nav-bottom" data-role="footer" data-position="fixed" data-id="drei-navbar" data-tap-toggle="false">	
		        <div data-role="navbar">
		    		    <ul>
		                <li id="nav-drivehistory"><a href="#drivehistory" data-role="button" 		
						>Drive History</a></li>
		                <li id="nav-track"><a href="#track" 

		                data-role="button">Track</a></li>
		                <li id="nav-settings"><a href="#settings" 

												class="ui-btn-active ui-state-persist"

		                data-role="button">Settings</a></li>
		    		    </ul>
		        </div><!-- /navbar --> 
		    </div>
		</script>

	<script type="text/template" id="ConnectionFailure">
		<div data-role="header" data-theme="d" data-add-back-btn="false" >
			<h1><!-- empty h1 to show the header bar --></h1>
		</div>

		<div data-role="content" data-theme="c">
			<h1>Connection Failed</h1>
			<p>We could not connect to the ODB Device. Please make sure that it is plugged in correctly, and that your phone is connected to the &quot;WiFiOBD&quot; network, and try again. 
		</div>
	</script>

	<script type="text/template" id="ActiveTrackingTemplate">
	    <div id="container">
			<h1 id="track_status" style="color:rgb(199,199,199); text-align:center;">
				Tracking... 
			</h1>
			<div id="nextCommute">
				<div class="ui-grid-a commute-box">
					<div class="ui-block-a">
						<div class="commute-box-label">Speed</div>
					</div>
					<div class="ui-block-b">
						<div id="speed" class="commute-box-number">86</div>
					</div>
				</div>
				<div class="ui-grid-a commute-box">
					<div class="ui-block-a">
						<div class="commute-box-label">RPM</div>
					</div>
					<div class="ui-block-b">
						<div id="rpm" class="commute-box-number">44</div>
					</div>
				</div>
				<div class="ui-grid-a commute-box">
					<div class="ui-block-a">
						<div class="commute-box-label">MPG</div>
					</div>
					<div class="ui-block-b">
						<div id="instant_mpg" class="commute-box-number">44</div>
					</div>
				</div>
        <div class="ui-grid-a commute-box">
        <div class="ui-block-a">
        <div class="commute-box-label">Lat</div>
        </div>
        <div class="ui-block-b">
        <div id="gps_lat" class="commute-box-number">44</div>
        </div>
        </div>
        <div class="ui-grid-a commute-box">
        <div class="ui-block-a">
        <div class="commute-box-label">Long</div>
        </div>
        <div class="ui-block-b">
        <div id="gps_long" class="commute-box-number">44</div>
        </div>
        </div>
			</div>
			<a onclick="DreiApp.Callbacks.drei_stop()" data-role="button" href="#" data-theme="a">
				Stop Tracking Commute
			</a>
	   	</div>
	</script>

	<script type="text/template" id="SetupTemplate1">
		<div data-position="fixed" data-id="drei-topnave" data-role="header">
			<h1>Setup</h1>
		</div>

	    <div id="container" style="margin: 10px; text-align:center;">
            <h3>Welcome!</h3>
            <div class="setup-message">
                <p>
                	<span style = 'font-weight:bold;'>Personalized Drive will help you drive smarter.</span> Start tracking your drives to learn what your true MPG is, how long you're spending on your commute, and how fast you're driving.
                </p>
                <p>
                	We are now going to get your car set up and ready to use the app. Let's get started! <!-- ' -->
                </p>
            </div>
			<a href="#setup/2" data-role="button" data-theme="b">
				Next
            </a>
        </div>
	</script>

	<script type="text/template" id="SetupTemplate2">
		<div data-position="fixed" data-id="drei-topnave" data-role="header">
			<h1>Step 1</h1>
		</div>

	    <div id="container" style="margin: 10px; text-align:center;">
        <h3>Connect your Car</h3>
            <div class="setup-message">
                <p>
                	Plug the device into your car's ODB port. The ODB port is the same port your mechanic uses to diagnose the health of your car.
                </p>
                <p>
                    The OBD port is normally located under your steering wheel in your driver's side footwell. Once you have plugged in the device, turn on your car. 
                </p>
            </div>
            <a href="#setup/3" data-role="button" data-theme="b">
				Next
            </a>
        </div>
	</script>	


	<script type="text/template" id="SetupTemplate3">
		<div data-position="fixed" data-id="drei-topnave" data-role="header">
			<h1>Step 2</h1>
		</div>

	    <div id="container" style="margin-top: 10px; margin-left: 10px; margin-right: 10px; text-align:center;">
        <h3>Connect your Phone</h3>
            <div class="setup-message">
                <p>
                	<strong>Go to your phone's settings and connect to the WiFi network called &quot;WiFiOBD&quot;.</strong>
                    When you are done connecting, the network will be highlighted blue, as shown below. After you finish connecting, come back here! (You'll only have to do this once.)
                </p>
                <img src="img/wifi_example.jpg" width="100%"/>
            </div>
			<a href="#setup/4" data-role="button" data-theme="b">
				Next
            </a>
        </div>
	</script>	

	<script type="text/template" id="SetupTemplate4">
		<div data-position="fixed" data-id="drei-topnave" data-role="header">
			<h1>Step 3</h1>
		</div>

	    <div id="container" style="margin-top: 10px; margin-left: 10px; margin-right: 10px; text-align:center;">
        <h3>Let's Drive!</h3>
            <div class="setup-message">
                <p>
                	<strong>Alright, we're ready to go!</strong> <!-- ' -->
                </p>
                <p> Just a few things to note. Please don't look at the app while you're driving. Turn it on before you start driving, and close it when you're done with your drive. We are not liable for any damage you, your car, or anyone in your car may incur while you you use our software. We will be collecting information about where and how you are driving, but we will not give this information to any third-party. 
                </p>
                <p> If you agree to these conditions, click "I Agree" below and we can get started!
                <p>
            </div>
            <a href="" data-role="button" data-theme="b" onCLick="window.localStorage.setItem('AcceptedEULA', true);">
				I Agree
            </a>
        </div>
	</script>	

   <script type="text/template" id="drive-history-entry-view">
    	<p>
    		<%- datestring %>
    	</p>
    	<div class="ui-grid-b drive-history-info">
			<div class="ui-block-a">
                <div class="drive-history-stat">
                    <div class="drive-history-num">
                        <%- Math.round(average_mpg) %>
                    </div>
                    <h3>mpg</h3>
                </div>
			</div>
			<div class="ui-block-b" >
                <div class="drive-history-stat">
                    <div class="drive-history-num">
                        <%- Math.round(total_time) %>
                    </div>
                    <h3>minutes</h3>
                </div>
			</div>
			<div class="ui-block-c">
				<div class="drive-history-stat">
					<div class="drive-history-num">
						<%- Math.round(average_speed) %>
					</div>
					<h3>mph</h3>
				</div>
			</div>
		</div><!-- /grid-b -->
    </script>

		<script type="text/javascript" src="cordova-2.7.0rc1.js"></script>
		<script type="text/javascript" src="js/lib/jquery-2.0.0.min.js"></script>
		<script type="text/javascript" src="js/lib/underscore-min.js"></script>
		<script type="text/javascript" src="js/lib/backbone-min.js"></script>
		<script type="text/javascript" src="js/config-jqm.js"></script>
		<script type="text/javascript" src="js/lib/jquery.mobile-1.3.1.min.js"></script>
		<script type='application/javascript' src='js/lib/fastclick.js'></script>
		
	    
	    <script>
        	// Namespacing Plugin for JQuery
			(function( $ ){
			  	$.fn.ns = function(namespace){
				    return namespace.split('.').reduce(function(holder, name){
				        holder[name] = holder[name] || {};
				        return holder[name];
				    }, window);
				};
			})( jQuery );

			$(function() {
			    FastClick.attach(document.body);
			});
            
		</script>

		<script type="text/javascript" src="js/views.js"></script>
		<script type="text/javascript" src="js/drive_history.js"></script>
		<script type="text/javascript" src="js/setup.js"></script>
	    <script type="text/javascript" src="js/callbacks.js"></script>
	    <script type="text/javascript" src="js/router.js"></script>
	    <script>
	    	$(function() {
		    	//Initialization Status
		    	DreiApp.Callbacks.drei_init();
		    });
	    </script>
    </body>
</html>
